services:
  db:
    image: postgres:16
#    ports:
#      - 127.0.0.1:5432:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: application
    volumes:
      - ./src/db-schema.postgres.sql:/docker-entrypoint-initdb.d/init.sql
  broker:
    image: rabbitmq:3-management
    ports:
#      - 127.0.0.1:5672:5672
      - 127.0.0.1:15672:15672
  webapi:
    depends_on:
      - db
      - broker
    restart: on-failure
    image: ddd-service-sample-webapi:v1
    ports:
      - 127.0.0.1:7171:7171
    environment:
      PostgresConfiguration__ConnectionString: "Server=db:5432;Database=application;User Id=postgres;"
      RabbitMQConfiguration__HostName: "broker"
      RabbitMQConfiguration__Port: 5672
      RabbitMQConfiguration__Username: "guest"
      RabbitMQConfiguration__Password: "guest"
  jobs:
    depends_on:
      - db
      - broker
    image: ddd-service-sample-jobs:v1
    environment:
      PostgresConfiguration__ConnectionString: "Server=db:5432;Database=application;User Id=postgres;"
      RabbitMQConfiguration__HostName: "broker"
      RabbitMQConfiguration__Port: 5672
      RabbitMQConfiguration__Username: "guest"
      RabbitMQConfiguration__Password: "guest"